
<footer style="background: rgba(0, 0, 0, 1) ; color: white; padding: 0; margin:0 ;text-align: center; border-radius:15px; width: 100%;">
    <br>
    <div>
      <p>&copy; 2024 Christian. All Rights Reserved.</p>
    </div>
    <div>
      <p>Connect with me on 
        <a href="https://www.linkedin.com/in/your-profile" target="_blank" style="color: #1DA1F2;">LinkedIn</a> | 
        <a href="https://github.com/your-profile" target="_blank" style="color: #1DA1F2; padding:5px;">GitHub</a>
      </p>
    </div>
    <br>
  </footer>